/* Signup.module.css */
.signupForm {
    max-width: 400px;
    padding: 3rem 3rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.signupForm h1 {
    color: #4b4b4b;
    margin-bottom: 20px;
}
.signupForm h1 span{
    color:#684ac4;
}

.formGroup {
    margin-bottom: 15px;
    text-align: left;
}

.formGroup label {
    display: block;
    font-size: 14px;
    color: #4b4b4b;
    margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    transition: border 0.3s;
}

.formGroup input[type="text"]:focus,
.formGroup input[type="email"]:focus,
.formGroup input[type="password"]:focus {
    border: 1px solid #a1a1a1;
}

.error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
}

.mybtn {
    background-color: #7b5add;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.mybtn:hover {
    background-color: #684ac4;
}

/* Background gradient */
.signupCont {
    background: linear-gradient(to top, #f8f9fa, #dadce0);
    font-family: Arial, sans-serif;
    
}
.footer{
    position: absolute;
    bottom: 0;
    color: white;
    background: grey;
    width: 25vw;
    padding: 1rem;
}

.myLoginContainer{

}